.login-div{
    width: 400px;
    background-color: var(--color-main);
    padding: 40px;
    border-radius: 10px;
}

.login-page-header {
    font-size: 1.3rem;
}

.login-label-signup {
    font-weight: 500;
    color: var(--color-secondary);

}

.login-btn {
    background-color: var(--color-secondary);
    border: none;
    height: 38px;
    width: 100%;
    padding-inline: 50px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: black;
}

.login-page{
    position: relative;
}

.login-error {
  color: #b00020;
  font-size: 0.85rem;
  margin-top: 10px;
}